In [2]:
from pyelasticsearch.client import ElasticSearch
import json
import requests
import pandas as pd
import math
import numpy as np
import boto3
import re
import collections
from collections import defaultdict

In [3]:
config = json.load(open('../config/configsql.json', 'r'))
aws_access_key_id=config['dev']['aws']['key']
aws_secret_access_key=config['dev']['aws']['secret']
region = 'us-east-1'
endpoint = config['dev']['endpoint']
bucketname=config['dev']['bucketname']['bucketname']
s3 = boto3.resource('s3', aws_access_key_id=aws_access_key_id, aws_secret_access_key=aws_secret_access_key)
index_name1 = 'candidates_cv'
index_name2 = 'parsed_resume'
es = ElasticSearch(endpoint, port=443)

In [4]:
#id = 'https://s3.amazonaws.com/careers.dataskeptic.com/resumes/unsourced/text/resumes_unsourced_aee1411d.pdf.txt'

In [34]:
d_all = es.search(index = index_name2, query={
                                     "query": {"match_all": {}},
                                     "size": 1
                                      })

In [41]:
pd.read_csv('Validation for resume parsing - Sheet1.csv')

,S3 key,Institution,Degree Type,Degree Level,Years low,Year high
0,resumes/unsourced/Young Suk Cho CV_151014.pdf,"The Ohio State University,Columbus",Computer Science & Engineering,Ph.D,2013,Present
1,resumes/unsourced/Young Suk Cho CV_151014.pdf,"Georgia Institute of Technology, Atlanta",Computer Science,MS,2009,2011
2,resumes/unsourced/Young Suk Cho CV_151014.pdf,"Handong Global University, Pohang, Korea",Computer Science & Electronic Engineering,BS,2001,2009
3,resumes/unsourced/YossofEshaqResume.pdf,University of Rochester,Physics,Ph.D,2008,2014
4,resumes/unsourced/YossofEshaqResume.pdf,"The University of California, San Diego",Physics,BS,2003,2007
5,resumes/unsourced/YM_PARK_RESUME.pdf,University of Wisconsin-Madison,Statistics & Computer Science,MS,2013,2016
6,resumes/unsourced/YM_PARK_RESUME.pdf,Sogang University,Chemistry & Economics,BS,2007,2013
7,resumes/unsourced/Yingnan (April) Xu DS.pdf,Columbia University,Financial Engineering,MS,2008,2009
8,resumes/unsourced/Yingnan (April) Xu DS.pdf,Hong Kong University of Science and Technology,Mathematics,BS,2004,2008
9,resumes/unsourced/YijiaDingResume.pdf,Cornell University,Statistics,MS,NaN,2016
10,resumes/unsourced/YijiaDingResume.pdf,The Ohio State University,Actuarial Science,BS,NaN,2014
11,resumes/unsourced/Yibing Qi Resume.pdf,University of Virginia,Data Science,MS,NaN,2013
12,resumes/unsourced/Yibing Qi Resume.pdf,University of Iowa,Mathematics & Statistics,BS,NaN,2015
13,resumes/unsourced/YanbinLu.pdf,"University of Houston, Houston",Electrical & Computer Engineering,Ph. D,2011,Present
14,resumes/unsourced/YanbinLu.pdf,Huazhong University of Science and Technology,Electrical & Information Engineering,BS,2007,2011
15,resumes/unsourced/Yan.Gao.Resume.pdf,Brown University,Physical Chemistry,Ph. D,2010,2016
16,resumes/unsourced/Yan.Gao.Resume.pdf,University of Science and Technology of China,Chemical Physics,BS,2006,2010
17,resumes/unsourced/XSS_resume.pdf,"Carnegie Mellon University, Pittsburgh",Information Systems Management,MS,2015,NaN
18,resumes/unsourced/XSS_resume.pdf,University of International Business and Econo...,Information Management,BS,2010,2014
19,resumes/unsourced/Xie He Resume_10_15_objectiv...,"Michigan State University, East Lansing, MI",Electrical Engineering,MS,NaN,2015
20,resumes/unsourced/Xie He Resume_10_15_objectiv...,"Michigan State University, East Lansing, MI",Electrical Engineering,BS,NaN,2013
21,resumes/unsourced/xie_wanyan_resume.pdf,"University of San Francisco, San Francisco",Analytics,MS,2015,2016
22,resumes/unsourced/xie_wanyan_resume.pdf,"University of Colorado Boulder, Boulder",Physics,MS,2010,2014
23,resumes/unsourced/xie_wanyan_resume.pdf,"Sichuan University, Chengdu, China",Physics,BS,2006,2010
24,resumes/unsourced/Xiaoxi_Xie.pdf,"University of California, Los Angeles, Los Ang...",Statistics,MS,NaN,2013
25,resumes/unsourced/XiaokeFeiResume.pdf,Stony Brook University,Statistics,Ph.D,2010,2016
26,resumes/unsourced/XiaokeFeiResume.pdf,Central University of Finance and Economics,Finance and Economics,MS,2006,2008
27,resumes/unsourced/XiaokeFeiResume.pdf,Jilin University,Computer Science,BS,2000,2004
28,resumes/unsourced/XiaoangZhang_Resume_F.pdf,"Illinois Institute of Technology, Chicago",Data Science,MS,2015,NaN
29,resumes/unsourced/XiaoangZhang_Resume_F.pdf,"University of Science and Technology of China,...",Cell Biology,MS,2008,NaN
...,...,...,...,...,...,...
217,resumes/career_page1/2018-03/pribis2018@gmail....,"University of Delhi, New Delhi, India",Linguistics,M.A.,NaN,2006
218,resumes/career_page1/2018-03/pribis2018@gmail....,"University of Calcutta, India",Linguistics,B.A.,NaN,2004
219,resumes/career_page1/2018-03/ramegaz33@gmail.c...,"Memorial High School - West New York, NJ",NaN,High School Diploma,NaN,2005
220,resumes/career_page1/2018-03/randomdog19@gmail...,"University of Western Ontario: London, ON",Statistics,MSc,2017,NaN
221,resumes/career_page1/2018-03/randomdog19@gmail...,"Drake University: Des Moines, IA",Mathematics,BSBA,2016,NaN
222,resumes/career_page1/2018-03/randompi@gmail.co...,University of Colorado at Boulder,Computer Science,BS,Aug 2000,May 2004
223,resumes/career_page1/2018-03/reginaryann@gmail...,Baruch College – Zicklin School of Business,Finance,Bachelor of Business Administration,2014,NaN
224,resumes/career_page1/2018-03/resume.pdf,State University of New York at Geneseo,Economics and Political Science,BA,2009,2013
225,resumes/career_page1/2018-03/sapkotaujwal@gmai...,"University of Missouri, Columbia, Missouri",Applied Mathematics,Master of Science,NaN,December 2014
226,resumes/career_page1/2018-03/sapkotaujwal@gmai...,"University of Missouri, Columbia, Missouri",Mathematics,Bachelor of Science,NaN,May 2012
227,resumes/career_page1/2018-03/satie.tomikawa@gm...,Technische Hochschule Deggendorf - Deggendorf,Medical Informatics,Master,Present,NaN
228,resumes/career_page1/2018-03/satie.tomikawa@gm...,Faculdade de Medicina da Universidade de São ...,Anatomic Pathology - Residency,NaN,2012,2015
229,resumes/career_page1/2018-03/satie.tomikawa@gm...,Faculdade de medicina da universidade de São ...,Human Medicine,NaN,2005,2010
230,resumes/career_page1/2018-03/saulcrobles@gmail...,"Tecnológico de Monterrey, Campus Monterrey",Innovation and Tech Entrepreneurship,Master of Science,2010,2011
231,resumes/career_page1/2018-03/saulcrobles@gmail...,"Tecnológico de Monterrey, Campus Monterrey",Computer Science,Bachelor of Science,2005,2010
232,resumes/career_page1/2018-03/sethd63@gmail.com...,Brigham Young University,Computer Science,Bachelor of Science,NaN,April 2020
233,resumes/career_page1/2018-03/skiman6010@gmail....,NaN,NaN,NaN,NaN,NaN
234,resumes/career_page1/2018-03/steven.c.howell@g...,"The George Washington University, Washington, DC",Physics,Ph.D.,NaN,2016
235,resumes/career_page1/2018-03/steven.c.howell@g...,"The George Washington University, Washington, DC",Physics,M.S.,NaN,2013
236,resumes/career_page1/2018-03/steven.c.howell@g...,"Brigham Young University, Provo, UT",Physics,B.S.,NaN,2009
237,resumes/career_page1/2018-03/stras071@umn.edu_...,UNIVERSITY OF MINNESOTA,Business Analytics,Masters of Science,NaN,May 2019
238,resumes/career_page1/2018-03/stras071@umn.edu_...,UNIVERSITY OF MINNESOTA,Marketing,Bachelor of Science,NaN,May 2012
239,resumes/career_page1/2018-03/the_lannings@yaho...,"University of California, Berkeley",Psychology,Ph.D.,NaN,December 1986
240,resumes/career_page1/2018-03/the_lannings@yaho...,"University of California, Berkeley",Psychology,A.B.,NaN,December 1978
241,resumes/career_page1/2018-03/thomas.veulemans@...,INSEAD,NaN,MBA,2004,2005
242,resumes/career_page1/2018-03/thomas.veulemans@...,Ecole Polytechnique de Bruxelles & Ecole Centr...,M.Eng.,NaN,1992,1997
243,resumes/career_page1/2018-03/Todd_G_Neville.pdf,Northern Arizona University,Physical and Computational Chemistry,Master of Science,1995,1999
244,resumes/career_page1/2018-03/Todd_G_Neville.pdf,Northern Arizona University,"Physical Chemistry, ACS Certified",Bachelor of Science,1990,1994
245,resumes/career_page1/2018-03/tyler.law77@gmail...,"The University of Chicago, Chicago, IL",Economics,NaN,NaN,June 2015
246,resumes/career_page1/2018-03/VIC.DASHKOV@GMAIL...,Ukrainian National University,Economics,Bachelor of Science,NaN,2012

In [36]:
all_user = {}
for i in range(len(d_all['hits']['hits'])):
    user = d_all['hits']['hits'][i]['_source']['education']['entities']
    id = d_all['hits']['hits'][i]['_id']
    all_user[id] = user

In [38]:
for i in range(len(d_all['hits']['hits'])):
    user = d_all['hits']['hits'][i]

In [39]:
def get_user_education(user):
    alls = {}
    education = user['_source']['education']
    id = user['_id']
    text = [i['Text'] for i in user['_source']['education']['entities']['Entities']]
    type = [i['Type'] for i in user['_source']['education']['entities']['Entities']]
    my_dict = defaultdict(list)
    for k, v in zip(type, text):
        my_dict[k].append(v)
    alls = {'id': id, "education":my_dict}
    return alls

In [41]:
resp_all = {}
for id in all_user.keys():
    print(id)
    user = all_user[id]
    result = get_user_education(user)
    resp_all[id] = result

https://s3.amazonaws.com/careers.dataskeptic.com/resumes/unsourced/text/resumes_unsourced_Updated_Resume_Ayan.pdf.txt
----- ['ORGANIZATION', 'LOCATION', 'LOCATION', 'DATE', 'QUANTITY', 'DATE', 'DATE', 'ORGANIZATION', 'LOCATION', 'QUANTITY', 'ORGANIZATION', 'LOCATION', 'LOCATION', 'DATE', 'ORGANIZATION', 'ORGANIZATION', 'ORGANIZATION', 'TITLE', 'TITLE', 'ORGANIZATION', 'ORGANIZATION', 'ORGANIZATION', 'ORGANIZATION', 'ORGANIZATION', 'ORGANIZATION', 'ORGANIZATION', 'LOCATION', 'LOCATION', 'DATE', 'DATE', 'ORGANIZATION', 'ORGANIZATION', 'ORGANIZATION', 'LOCATION', 'LOCATION', 'DATE', 'DATE', 'ORGANIZATION', 'ORGANIZATION', 'ORGANIZATION', 'ORGANIZATION', 'LOCATION', 'DATE', 'DATE', 'ORGANIZATION', 'ORGANIZATION', 'ORGANIZATION', 'ORGANIZATION', 'ORGANIZATION', 'ORGANIZATION', 'ORGANIZATION', 'ORGANIZATION', 'QUANTITY', 'ORGANIZATION', 'LOCATION', 'QUANTITY', 'ORGANIZATION']
----- ['University of Washington', 'Seattle', 'WA', '2014 May 2016', '3.76', 'Jul 2008', 'Jun 2012', 'University of Pune', 'India', 'First Class', 'The Walt Disney Company', 'Seattle', 'WA', 'Aug 2015', 'YouTube', 'Disney', 'YouTube', 'Java', 'MySQL', 'ESPN', 'ABC', 'Disney', 'Ice', 'Honda', 'Dior', 'Bank of America', 'Charlotte', 'NC', 'Jun 2015', 'Aug 2015', 'Hadoop', 'Cloudera', 'Accenture', 'Bangalore', 'India', 'Feb 2013', 'May 2014', 'ICP', 'SFDC', 'Agile', 'iCreate', 'Bangalore, India', 'Jul 2012', 'Feb 2013', 'Societe Generale Integrating bank', 'Finacle & Market', 'ETL', 'ETL', 'Data Modeling', 'ETL', 'Informatica', 'UW Effort', 'thousands of user data', 'UW', 'Seattle', '6 month', 'Yelp']

In [27]:
resp_all['https://s3.amazonaws.com/careers.dataskeptic.com/resumes/unsourced/text/resumes_unsourced_Updated_Resume_Ayan.pdf.txt']

{'DATE': 'Feb 2013',
 'LOCATION': 'Seattle',
 'ORGANIZATION': 'Yelp',
 'QUANTITY': '6 month',
 'TITLE': 'MySQL'}

In [8]:
for key,values in resp_all[id].items():
    print(values)

TITLE
TITLE
DATE
ORGANIZATION
LOCATION

In [61]:
def get_user_education(es, id):
    resp = {"universities": []}
    return resp

In [57]:
print(d_all['hits']['hits'][1]['_id'])
print(d_all['hits']['hits'][1]['_source']['education']['entities']['Entities'])

https://s3.amazonaws.com/careers.dataskeptic.com/resumes/unsourced/text/resumes_unsourced_aee1411d.pdf.txt
[{'Score': 0.6793285012245178, 'Type': 'TITLE', 'Text': 'Bachlors of Computing', 'BeginOffset': 0, 'EndOffset': 21}, {'Score': 0.591768205165863, 'Type': 'TITLE', 'Text': 'Honours', 'BeginOffset': 23, 'EndOffset': 30}, {'Score': 0.9950048327445984, 'Type': 'DATE', 'Text': '2016', 'BeginOffset': 42, 'EndOffset': 46}, {'Score': 0.8884028196334839, 'Type': 'ORGANIZATION', 'Text': "Queen's University", 'BeginOffset': 51, 'EndOffset': 69}, {'Score': 0.9988804459571838, 'Type': 'LOCATION', 'Text': 'Canada', 'BeginOffset': 73, 'EndOffset': 79}]

In [ ]:
def extract_education(user_id):
    for i in range(len(d_all['hits']['hits'])):
        user_id = d_all['hits']['hits'][i]['_id']
        education = d_all['hits']['hits'][i]['_source']['education']['entities']['Entities']

In [18]:
es.search(index = index_name2, query=
    {
      "_source": 'education.entities.Entities.Text',
      "size": 0,
      "aggs": {
        "group_by_coll_conv": {
          "terms": {
            "field": 'education.entities.Entities.Text.keyword',
            "size" : 1000
          },
          "aggs": {
            "count" : {
              "value_count" : 
                { 
                  "field" : 'education.entities.Entities.Text.keyword'
                } 
            }
        }
    }
}})

{'_shards': {'failed': 0, 'successful': 5, 'total': 5},
 'aggregations': {'group_by_coll_conv': {'buckets': [{'count': {'value': 3543},
     'doc_count': 106,
     'key': '2015'},
    {'count': {'value': 3242}, 'doc_count': 97, 'key': '2014'},
    {'count': {'value': 2372}, 'doc_count': 93, 'key': 'India'},
    {'count': {'value': 2744}, 'doc_count': 79, 'key': '2012'},
    {'count': {'value': 1978}, 'doc_count': 78, 'key': '4.0'},
    {'count': {'value': 2271}, 'doc_count': 70, 'key': '2013'},
    {'count': {'value': 2139}, 'doc_count': 69, 'key': '2010'},
    {'count': {'value': 1861}, 'doc_count': 60, 'key': '2008'},
    {'count': {'value': 2439}, 'doc_count': 59, 'key': '2011'},
    {'count': {'value': 1370}, 'doc_count': 59, 'key': 'May 2016'},
    {'count': {'value': 1453},
     'doc_count': 59,
     'key': 'University of California'},
    {'count': {'value': 1560}, 'doc_count': 58, 'key': '2007'},
    {'count': {'value': 1895}, 'doc_count': 56, 'key': 'China'},
    {'count': {'value': 1463}, 'doc_count': 53, 'key': 'Los Angeles'},
    {'count': {'value': 1645}, 'doc_count': 50, 'key': '2009'},
    {'count': {'value': 1401}, 'doc_count': 46, 'key': 'May 2015'},
    {'count': {'value': 1336},
     'doc_count': 46,
     'key': 'University of Southern California'},
    {'count': {'value': 1251}, 'doc_count': 43, 'key': '2006'},
    {'count': {'value': 1660}, 'doc_count': 42, 'key': 'May 2014'},
    {'count': {'value': 1081}, 'doc_count': 41, 'key': '2016'},
    {'count': {'value': 1882}, 'doc_count': 41, 'key': 'Python'},
    {'count': {'value': 1207}, 'doc_count': 40, 'key': 'Dec 2015'},
    {'count': {'value': 956}, 'doc_count': 39, 'key': '4.00'},
    {'count': {'value': 1562}, 'doc_count': 39, 'key': 'Java'},
    {'count': {'value': 943}, 'doc_count': 38, 'key': 'CA'},
    {'count': {'value': 952}, 'doc_count': 36, 'key': '2005'},
    {'count': {'value': 1042}, 'doc_count': 36, 'key': 'M.S.'},
    {'count': {'value': 907}, 'doc_count': 31, 'key': 'MS'},
    {'count': {'value': 941}, 'doc_count': 30, 'key': 'Microsoft'},
    {'count': {'value': 953}, 'doc_count': 29, 'key': '4'},
    {'count': {'value': 1111}, 'doc_count': 28, 'key': 'Excel'},
    {'count': {'value': 523}, 'doc_count': 27, 'key': 'University of Texas'},
    {'count': {'value': 971}, 'doc_count': 26, 'key': 'SAS'},
    {'count': {'value': 1016}, 'doc_count': 26, 'key': 'SQL'},
    {'count': {'value': 478}, 'doc_count': 25, 'key': 'May 2012'},
    {'count': {'value': 710}, 'doc_count': 24, 'key': 'May 2013'},
    {'count': {'value': 661}, 'doc_count': 23, 'key': '2004'},
    {'count': {'value': 592}, 'doc_count': 23, 'key': '3.8'},
    {'count': {'value': 826}, 'doc_count': 23, 'key': 'June 2015'},
    {'count': {'value': 656}, 'doc_count': 23, 'key': 'USA'},
    {'count': {'value': 423}, 'doc_count': 22, 'key': 'December 2015'},
    {'count': {'value': 842}, 'doc_count': 22, 'key': 'June 2014'},
    {'count': {'value': 1034}, 'doc_count': 22, 'key': 'Linux'},
    {'count': {'value': 494}, 'doc_count': 21, 'key': '2002'},
    {'count': {'value': 696}, 'doc_count': 21, 'key': 'Aug 2014'},
    {'count': {'value': 592}, 'doc_count': 21, 'key': 'NY'},
    {'count': {'value': 738}, 'doc_count': 20, 'key': 'Beijing'},
    {'count': {'value': 904}, 'doc_count': 20, 'key': 'Hadoop'},
    {'count': {'value': 879}, 'doc_count': 20, 'key': 'MySQL'},
    {'count': {'value': 797}, 'doc_count': 19, 'key': 'Aug 2015'},
    {'count': {'value': 551}, 'doc_count': 19, 'key': 'B.S.'},
    {'count': {'value': 708}, 'doc_count': 18, 'key': '10'},
    {'count': {'value': 420},
     'doc_count': 18,
     'key': 'University of Illinois'},
    {'count': {'value': 270}, 'doc_count': 17, 'key': 'Chicago'},
    {'count': {'value': 644}, 'doc_count': 17, 'key': 'Hive'},
    {'count': {'value': 460}, 'doc_count': 17, 'key': 'July 2014'},
    {'count': {'value': 579}, 'doc_count': 17, 'key': 'New York'},
    {'count': {'value': 593}, 'doc_count': 16, 'key': '3.7'},
    {'count': {'value': 700}, 'doc_count': 16, 'key': 'Amazon'},
    {'count': {'value': 442}, 'doc_count': 16, 'key': 'December 2013'},
    {'count': {'value': 616}, 'doc_count': 16, 'key': 'Jun 2015'},
    {'count': {'value': 233}, 'doc_count': 16, 'key': 'LinkedIn'},
    {'count': {'value': 743}, 'doc_count': 16, 'key': 'UCLA'},
    {'count': {'value': 717}, 'doc_count': 16, 'key': 'US'},
    {'count': {'value': 557}, 'doc_count': 15, 'key': '2003'},
    {'count': {'value': 505}, 'doc_count': 15, 'key': 'Chennai'},
    {'count': {'value': 301}, 'doc_count': 15, 'key': 'May 2010'},
    {'count': {'value': 544}, 'doc_count': 15, 'key': 'Oracle'},
    {'count': {'value': 501}, 'doc_count': 15, 'key': 'Stanford University'},
    {'count': {'value': 537}, 'doc_count': 14, 'key': '12'},
    {'count': {'value': 947}, 'doc_count': 14, 'key': '2'},
    {'count': {'value': 437}, 'doc_count': 14, 'key': 'May 2011'},
    {'count': {'value': 640}, 'doc_count': 14, 'key': 'both'},
    {'count': {'value': 505}, 'doc_count': 13, 'key': '1'},
    {'count': {'value': 461}, 'doc_count': 13, 'key': '3.5'},
    {'count': {'value': 683}, 'doc_count': 13, 'key': 'AWS'},
    {'count': {'value': 447}, 'doc_count': 13, 'key': 'Anna University'},
    {'count': {'value': 411}, 'doc_count': 13, 'key': 'August 2014'},
    {'count': {'value': 715}, 'doc_count': 13, 'key': 'C++'},
    {'count': {'value': 430}, 'doc_count': 13, 'key': 'Los Angeles, CA'},
    {'count': {'value': 495}, 'doc_count': 13, 'key': 'Matlab'},
    {'count': {'value': 662}, 'doc_count': 13, 'key': 'Tehran'},
    {'count': {'value': 470}, 'doc_count': 13, 'key': 'USC'},
    {'count': {'value': 164}, 'doc_count': 12, 'key': '3.75'},
    {'count': {'value': 379}, 'doc_count': 12, 'key': '3.9'},
    {'count': {'value': 404}, 'doc_count': 12, 'key': 'August 2015'},
    {'count': {'value': 233}, 'doc_count': 12, 'key': 'California'},
    {'count': {'value': 380}, 'doc_count': 12, 'key': 'Dec 2014'},
    {'count': {'value': 656}, 'doc_count': 12, 'key': 'Iran'},
    {'count': {'value': 450}, 'doc_count': 12, 'key': 'Jan 2015'},
    {'count': {'value': 276}, 'doc_count': 12, 'key': 'June 2012'},
    {'count': {'value': 514}, 'doc_count': 12, 'key': 'R'},
    {'count': {'value': 441}, 'doc_count': 12, 'key': 'Tableau'},
    {'count': {'value': 514}, 'doc_count': 12, 'key': 'Windows'},
    {'count': {'value': 491}, 'doc_count': 11, 'key': '100'},
    {'count': {'value': 272}, 'doc_count': 11, 'key': '2001'},
    {'count': {'value': 707}, 'doc_count': 11, 'key': '6'},
    {'count': {'value': 445}, 'doc_count': 11, 'key': 'Aug 2013'},
    {'count': {'value': 324}, 'doc_count': 11, 'key': 'Bangalore'},
    {'count': {'value': 242},
     'doc_count': 11,
     'key': 'Georgia Institute of Technology'},
    {'count': {'value': 352}, 'doc_count': 11, 'key': 'July 2013'},
    {'count': {'value': 453}, 'doc_count': 11, 'key': 'MongoDB'},
    {'count': {'value': 236}, 'doc_count': 11, 'key': 'San Diego'},
    {'count': {'value': 373}, 'doc_count': 11, 'key': 'WA'},
    {'count': {'value': 220},
     'doc_count': 10,
     'key': 'Arizona State University'},
    {'count': {'value': 230}, 'doc_count': 10, 'key': 'August 2012'},
    {'count': {'value': 347}, 'doc_count': 10, 'key': 'August 2013'},
    {'count': {'value': 623}, 'doc_count': 10, 'key': 'Canada'},
    {'count': {'value': 194}, 'doc_count': 10, 'key': 'Columbia University'},
    {'count': {'value': 274}, 'doc_count': 10, 'key': 'Coursera'},
    {'count': {'value': 446}, 'doc_count': 10, 'key': 'MATLAB'},
    {'count': {'value': 449}, 'doc_count': 10, 'key': 'PHP'},
    {'count': {'value': 317}, 'doc_count': 9, 'key': '1999'},
    {'count': {'value': 392}, 'doc_count': 9, 'key': '2000'},
    {'count': {'value': 214}, 'doc_count': 9, 'key': '3.6'},
    {'count': {'value': 165}, 'doc_count': 9, 'key': '3.85'},
    {'count': {'value': 379}, 'doc_count': 9, 'key': 'April 2015'},
    {'count': {'value': 209}, 'doc_count': 9, 'key': 'Austin'},
    {'count': {'value': 302}, 'doc_count': 9, 'key': 'Dec 2013'},
    {'count': {'value': 261}, 'doc_count': 9, 'key': 'Duke University'},
    {'count': {'value': 293}, 'doc_count': 9, 'key': 'English'},
    {'count': {'value': 340}, 'doc_count': 9, 'key': 'France'},
    {'count': {'value': 256}, 'doc_count': 9, 'key': 'IBM'},
    {'count': {'value': 101}, 'doc_count': 9, 'key': 'IL'},
    {'count': {'value': 205}, 'doc_count': 9, 'key': 'Irvine'},
    {'count': {'value': 423}, 'doc_count': 9, 'key': 'JavaScript'},
    {'count': {'value': 153},
     'doc_count': 9,
     'key': 'Johns Hopkins University'},
    {'count': {'value': 442}, 'doc_count': 9, 'key': 'M.Sc.'},
    {'count': {'value': 377}, 'doc_count': 9, 'key': 'March 2014'},
    {'count': {'value': 191},
     'doc_count': 9,
     'key': 'Northeastern University'},
    {'count': {'value': 338}, 'doc_count': 9, 'key': 'Pig'},
    {'count': {'value': 319}, 'doc_count': 9, 'key': 'Sep 2015'},
    {'count': {'value': 401}, 'doc_count': 9, 'key': 'Taiwan'},
    {'count': {'value': 294}, 'doc_count': 8, 'key': '3.82'},
    {'count': {'value': 186}, 'doc_count': 8, 'key': '3.96'},
    {'count': {'value': 405}, 'doc_count': 8, 'key': '30%'},
    {'count': {'value': 317}, 'doc_count': 8, 'key': '5'},
    {'count': {'value': 247}, 'doc_count': 8, 'key': 'Boston, MA'},
    {'count': {'value': 103}, 'doc_count': 8, 'key': 'CALIFORNIA'},
    {'count': {'value': 369}, 'doc_count': 8, 'key': 'Google'},
    {'count': {'value': 341}, 'doc_count': 8, 'key': 'HTML'},
    {'count': {'value': 220}, 'doc_count': 8, 'key': 'Hefei'},
    {'count': {'value': 590}, 'doc_count': 8, 'key': 'Japan'},
    {'count': {'value': 247}, 'doc_count': 8, 'key': 'July 2012'},
    {'count': {'value': 368}, 'doc_count': 8, 'key': 'Jun 2010'},
    {'count': {'value': 240}, 'doc_count': 8, 'key': 'San Francisco'},
    {'count': {'value': 310}, 'doc_count': 8, 'key': 'Seattle'},
    {'count': {'value': 412}, 'doc_count': 8, 'key': 'TX'},
    {'count': {'value': 308}, 'doc_count': 8, 'key': 'Twitter'},
    {'count': {'value': 383}, 'doc_count': 8, 'key': 'U.S.'},
    {'count': {'value': 285}, 'doc_count': 7, 'key': '10%'},
    {'count': {'value': 152}, 'doc_count': 7, 'key': '3.73'},
    {'count': {'value': 129}, 'doc_count': 7, 'key': '3.86'},
    {'count': {'value': 280}, 'doc_count': 7, 'key': '8'},
    {'count': {'value': 308}, 'doc_count': 7, 'key': 'Android'},
    {'count': {'value': 181}, 'doc_count': 7, 'key': 'Applied Mathematics'},
    {'count': {'value': 325}, 'doc_count': 7, 'key': 'Apr 2015'},
    {'count': {'value': 281}, 'doc_count': 7, 'key': 'Aug. 2015'},
    {'count': {'value': 173}, 'doc_count': 7, 'key': 'Berkeley'},
    {'count': {'value': 255}, 'doc_count': 7, 'key': 'CSS'},
    {'count': {'value': 152}, 'doc_count': 7, 'key': 'Dallas'},
    {'count': {'value': 220}, 'doc_count': 7, 'key': 'Doctor of Philosophy'},
    {'count': {'value': 341}, 'doc_count': 7, 'key': 'Feb 2014'},
    {'count': {'value': 187}, 'doc_count': 7, 'key': 'First Class'},
    {'count': {'value': 194}, 'doc_count': 7, 'key': 'GPA'},
    {'count': {'value': 428}, 'doc_count': 7, 'key': 'Germany'},
    {'count': {'value': 270}, 'doc_count': 7, 'key': 'Jun 2013'},
    {'count': {'value': 277}, 'doc_count': 7, 'key': 'Jun 2014'},
    {'count': {'value': 233}, 'doc_count': 7, 'key': 'June 2011'},
    {'count': {'value': 120}, 'doc_count': 7, 'key': 'June 2013'},
    {'count': {'value': 419}, 'doc_count': 7, 'key': 'Korea'},
    {'count': {'value': 357}, 'doc_count': 7, 'key': 'MS Excel'},
    {'count': {'value': 236}, 'doc_count': 7, 'key': 'Mar 2015'},
    {'count': {'value': 266}, 'doc_count': 7, 'key': 'May 2009'},
    {'count': {'value': 124}, 'doc_count': 7, 'key': 'Mumbai'},
    {'count': {'value': 224}, 'doc_count': 7, 'key': 'Nov 2013'},
    {'count': {'value': 256}, 'doc_count': 7, 'key': 'Nov 2015'},
    {'count': {'value': 281}, 'doc_count': 7, 'key': 'October 2014'},
    {'count': {'value': 240}, 'doc_count': 7, 'key': 'SPSS'},
    {'count': {'value': 254}, 'doc_count': 7, 'key': 'Sep 2013'},
    {'count': {'value': 246}, 'doc_count': 7, 'key': 'Sep 2014'},
    {'count': {'value': 356}, 'doc_count': 7, 'key': 'Spark'},
    {'count': {'value': 230}, 'doc_count': 7, 'key': 'Texas'},
    {'count': {'value': 80}, 'doc_count': 7, 'key': 'University of Michigan'},
    {'count': {'value': 133},
     'doc_count': 7,
     'key': 'University of Science and Technology of China'},
    {'count': {'value': 166}, 'doc_count': 7, 'key': 'University of Virginia'},
    {'count': {'value': 326}, 'doc_count': 7, 'key': 'VBA'},
    {'count': {'value': 274}, 'doc_count': 7, 'key': 'first'},
    {'count': {'value': 218}, 'doc_count': 6, 'key': '12/2015'},
    {'count': {'value': 444}, 'doc_count': 6, 'key': '13'},
    {'count': {'value': 431}, 'doc_count': 6, 'key': '15'},
    {'count': {'value': 263}, 'doc_count': 6, 'key': '16'},
    {'count': {'value': 256}, 'doc_count': 6, 'key': '1998'},
    {'count': {'value': 211}, 'doc_count': 6, 'key': '3.56'},
    {'count': {'value': 158}, 'doc_count': 6, 'key': '3.67'},
    {'count': {'value': 116}, 'doc_count': 6, 'key': '3.78'},
    {'count': {'value': 238}, 'doc_count': 6, 'key': '3.83'},
    {'count': {'value': 431}, 'doc_count': 6, 'key': '9'},
    {'count': {'value': 121}, 'doc_count': 6, 'key': 'Arlington, TX'},
    {'count': {'value': 206}, 'doc_count': 6, 'key': 'Aug 2012'},
    {'count': {'value': 180}, 'doc_count': 6, 'key': 'August 2009'},
    {'count': {'value': 389}, 'doc_count': 6, 'key': 'B.Sc.'},
    {'count': {'value': 341}, 'doc_count': 6, 'key': 'C'},
    {'count': {'value': 115},
     'doc_count': 6,
     'key': 'Carnegie Mellon University'},
    {'count': {'value': 230}, 'doc_count': 6, 'key': 'Chinese'},
    {'count': {'value': 198}, 'doc_count': 6, 'key': 'Dallas, TX'},
    {'count': {'value': 144}, 'doc_count': 6, 'key': 'December 2014'},
    {'count': {'value': 215}, 'doc_count': 6, 'key': 'ETL'},
    {'count': {'value': 205}, 'doc_count': 6, 'key': 'February 2015'},
    {'count': {'value': 285}, 'doc_count': 6, 'key': 'HBase'},
    {'count': {'value': 352}, 'doc_count': 6, 'key': 'Houston'},
    {'count': {'value': 129}, 'doc_count': 6, 'key': 'January 2016'},
    {'count': {'value': 260}, 'doc_count': 6, 'key': 'Jul 2014'},
    {'count': {'value': 343}, 'doc_count': 6, 'key': 'July 2015'},
    {'count': {'value': 156}, 'doc_count': 6, 'key': 'June 2009'},
    {'count': {'value': 305}, 'doc_count': 6, 'key': 'MapReduce'},
    {'count': {'value': 196}, 'doc_count': 6, 'key': 'Monte Carlo'},
    {'count': {'value': 460}, 'doc_count': 6, 'key': 'New Mexico'},
    {'count': {'value': 264}, 'doc_count': 6, 'key': 'Oct 2015'},
    {'count': {'value': 220}, 'doc_count': 6, 'key': 'Physics'},
    {'count': {'value': 134}, 'doc_count': 6, 'key': 'School of Business'},
    {'count': {'value': 232}, 'doc_count': 6, 'key': 'Seoul'},
    {'count': {'value': 180}, 'doc_count': 6, 'key': 'September 2015'},
    {'count': {'value': 274}, 'doc_count': 6, 'key': 'Singapore'},
    {'count': {'value': 319}, 'doc_count': 6, 'key': 'University of Houston'},
    {'count': {'value': 113},
     'doc_count': 6,
     'key': 'University of North Carolina'},
    {'count': {'value': 149}, 'doc_count': 6, 'key': 'Urbana-Champaign'},
    {'count': {'value': 232}, 'doc_count': 6, 'key': 'XML'},
    {'count': {'value': 58}, 'doc_count': 5, 'key': '12/2012'},
    {'count': {'value': 210}, 'doc_count': 5, 'key': '15%'},
    {'count': {'value': 305}, 'doc_count': 5, 'key': '2017'},
    {'count': {'value': 97}, 'doc_count': 5, 'key': '3.61'},
    {'count': {'value': 118}, 'doc_count': 5, 'key': '3.62'},
    {'count': {'value': 96}, 'doc_count': 5, 'key': '3.65'},
    {'count': {'value': 150}, 'doc_count': 5, 'key': '3.77'},
    {'count': {'value': 136}, 'doc_count': 5, 'key': '3.80'},
    {'count': {'value': 63}, 'doc_count': 5, 'key': '3.88'},
    {'count': {'value': 181}, 'doc_count': 5, 'key': '80%'},
    {'count': {'value': 61}, 'doc_count': 5, 'key': 'Ann Arbor'},
    {'count': {'value': 160}, 'doc_count': 5, 'key': 'Atlanta'},
    {'count': {'value': 192}, 'doc_count': 5, 'key': 'Aug 2010'},
    {'count': {'value': 225}, 'doc_count': 5, 'key': 'Aug 2011'},
    {'count': {'value': 166}, 'doc_count': 5, 'key': 'Aug. 2012'},
    {'count': {'value': 233}, 'doc_count': 5, 'key': 'Aug. 2013'},
    {'count': {'value': 114}, 'doc_count': 5, 'key': 'August 2010'},
    {'count': {'value': 147}, 'doc_count': 5, 'key': 'BA'},
    {'count': {'value': 132}, 'doc_count': 5, 'key': 'BS'},
    {'count': {'value': 162}, 'doc_count': 5, 'key': 'Beijing, China'},
    {'count': {'value': 185}, 'doc_count': 5, 'key': 'C#'},
    {'count': {'value': 145},
     'doc_count': 5,
     'key': 'California State University'},
    {'count': {'value': 146}, 'doc_count': 5, 'key': 'Dec. 2014'},
    {'count': {'value': 219}, 'doc_count': 5, 'key': 'Dec. 2015'},
    {'count': {'value': 80}, 'doc_count': 5, 'key': 'December 2009'},
    {'count': {'value': 81}, 'doc_count': 5, 'key': 'December 2012'},
    {'count': {'value': 122},
     'doc_count': 5,
     'key': 'Department of Statistics'},
    {'count': {'value': 325}, 'doc_count': 5, 'key': 'Feb 2013'},
    {'count': {'value': 212}, 'doc_count': 5, 'key': 'First'},
    {'count': {'value': 273}, 'doc_count': 5, 'key': 'Florida'},
    {'count': {'value': 202}, 'doc_count': 5, 'key': 'Harvard University'},
    {'count': {'value': 113}, 'doc_count': 5, 'key': 'Hyderabad'},
    {'count': {'value': 298}, 'doc_count': 5, 'key': 'Jan 2010'},
    {'count': {'value': 217}, 'doc_count': 5, 'key': 'Jan 2012'},
    {'count': {'value': 124}, 'doc_count': 5, 'key': 'January 2009'},
    {'count': {'value': 190}, 'doc_count': 5, 'key': 'January 2015'},
    {'count': {'value': 265}, 'doc_count': 5, 'key': 'Japanese'},
    {'count': {'value': 178}, 'doc_count': 5, 'key': 'Javascript'},
    {'count': {'value': 191}, 'doc_count': 5, 'key': 'Jul 2012'},
    {'count': {'value': 231}, 'doc_count': 5, 'key': 'Jul 2015'},
    {'count': {'value': 245}, 'doc_count': 5, 'key': 'Jun 2012'},
    {'count': {'value': 203}, 'doc_count': 5, 'key': 'MA'},
    {'count': {'value': 186}, 'doc_count': 5, 'key': 'MS Office'},
    {'count': {'value': 55}, 'doc_count': 5, 'key': 'Madison'},
    {'count': {'value': 85}, 'doc_count': 5, 'key': 'March 2015'},
    {'count': {'value': 42}, 'doc_count': 5, 'key': 'Master of Science'},
    {'count': {'value': 108}, 'doc_count': 5, 'key': 'May 2007'},
    {'count': {'value': 233}, 'doc_count': 5, 'key': 'May 2017'},
    {'count': {'value': 194}, 'doc_count': 5, 'key': 'NC'},
    {'count': {'value': 83}, 'doc_count': 5, 'key': 'NEW YORK'},
    {'count': {'value': 152}, 'doc_count': 5, 'key': 'Nankai University'},
    {'count': {'value': 251}, 'doc_count': 5, 'key': 'November 2014'},
    {'count': {'value': 194}, 'doc_count': 5, 'key': 'November 2015'},
    {'count': {'value': 329}, 'doc_count': 5, 'key': 'One'},
    {'count': {'value': 139}, 'doc_count': 5, 'key': 'PA'},
    {'count': {'value': 188}, 'doc_count': 5, 'key': 'PowerPoint'},
    {'count': {'value': 92}, 'doc_count': 5, 'key': 'Santa Cruz'},
    {'count': {'value': 216}, 'doc_count': 5, 'key': 'Shanghai'},
    {'count': {'value': 100}, 'doc_count': 5, 'key': 'Tempe, AZ'},
    {'count': {'value': 198}, 'doc_count': 5, 'key': 'Tianjin'},
    {'count': {'value': 202}, 'doc_count': 5, 'key': 'UK'},
    {'count': {'value': 430}, 'doc_count': 5, 'key': 'United States'},
    {'count': {'value': 172}, 'doc_count': 5, 'key': 'University of Maryland'},
    {'count': {'value': 76}, 'doc_count': 5, 'key': 'University of Mumbai'},
    {'count': {'value': 160}, 'doc_count': 5, 'key': 'University of Pune'},
    {'count': {'value': 410}, 'doc_count': 5, 'key': 'University of Tehran'},
    {'count': {'value': 105},
     'doc_count': 5,
     'key': 'University of Washington'},
    {'count': {'value': 229}, 'doc_count': 5, 'key': 'Wuhan'},
    {'count': {'value': 211}, 'doc_count': 4, 'key': '06/2014'},

In [2298]:
l_100 = count100['aggregations']['group_by_coll_conv']['buckets']

In [2299]:
keys = []
for i in l_100:
    key = i['key']
    keys.append(key)

In [2300]:
doc_counts = []
for i in l_100:
    doc_count = i['doc_count']
    doc_counts.append(doc_count)

In [2301]:
values = []
for i in l_100:
    value = i['count']['value']
    values.append(value)

In [2302]:
df = pd.DataFrame(
    {'word': keys,
     'doc_count': doc_counts,
     'values': values
    })

In [2303]:
count100['hits']['total']

622

In [2304]:
df['idf'] = np.log(count100['hits']['total']/df['doc_count'])

In [2305]:
df['tf'] = df['values']/sum(df['values'])

In [2306]:
df['tf-idf'] = df['idf']*df['tf']
df.head()

   doc_count  values              word       idf        tf    tf-idf
0        198   11712        University  1.144673  0.031296  0.035824
1        170    7781           Science  1.297142  0.020792  0.026970
2         86    4486               GPA  1.978593  0.011987  0.023718
3         74    5846  Machine Learning  2.128875  0.015621  0.033256
4         67    3077  Computer Science  2.228247  0.008222  0.018321

In [2495]:
pd.options.display.max_rows = 9999

In [2312]:
df_s = df.sort_values(by=['tf','word'], ascending=[False, True])

# all source

In [2486]:
sources = ['education', 'summary','experience','projects']

In [2440]:
results = []
for element in sources:
    result = es.search(index = index_name2, query=
    {
      "_source": element + '.keywords.KeyPhrases.Text',
      "size": 0,
      "aggs": {
        "group_by_coll_conv": {
          "terms": {
            "field": element + ".keywords.KeyPhrases.Text.keyword",
            "size" : 500
          },
          "aggs": {
            "count" : {
              "value_count" : 
                { 
                  "field" : element + ".keywords.KeyPhrases.Text.keyword"
                } 
            }
        }
    }
}})
    results.append(result)

In [2464]:
results_all = []
for i in range(len(results)):
    result_all = results[i]['aggregations']['group_by_coll_conv']['buckets']
    results_all.append(result_all)

In [2510]:
results[0]['hits']['total']

622

In [2543]:
df['values']/sum(df['values'])
dfs = []
for j in range(len(sources)):
    source = sources[j]
    keys = []
    for i in results_all[j]:
        key = i['key']
        keys.append(key)
    doc_counts = []
    for i in results_all[j]:
        doc_count = i['doc_count']
        doc_counts.append(doc_count)
    values = []
    for i in results_all[j]:
        value = i['count']['value']
        values.append(value)
    for i in results_all[j]:
        idfs = np.log([results[0]['hits']['total']/x for x in doc_counts]).tolist()
    for i in results_all[j]:
        tf = [x/sum(values) for x in values]
    for i in result_all[j]:
        tf_idf = [a*b for a,b in zip(tf,idfs)]
    aa = pd.DataFrame(
        {'word': keys,
         'doc_count': doc_counts,
         'values': values,
         'source': source,
         'idf':idfs,
         'tf':tf,
         'tf_idf':tf_idf
        })
    dfs.append(aa)

df = pd.concat(dfs)
df.reset_index(drop=True,inplace = True)
df= df.sort_values(by=['tf','word'], ascending=[False, True])

In [2546]:
df.head(100)

,doc_count,idf,source,tf,tf_idf,values,word
0,198,1.144673,education,0.031296,0.035824,11712,University
1000,171,1.291277,experience,0.027528,0.035547,16419,data
1500,70,2.184445,projects,0.025569,0.055854,5476,Python
1501,57,2.389889,projects,0.023314,0.055717,4993,data
1,170,1.297142,education,0.020792,0.026970,7781,Science
1001,97,1.858229,experience,0.017702,0.032894,10558,Python
7,55,2.425607,education,0.016589,0.040238,6208,data
5,58,2.372497,education,0.016329,0.038742,6111,Python
3,74,2.128875,education,0.015621,0.033256,5846,Machine Learning
1002,76,2.102207,experience,0.013423,0.028218,8006,University
1505,25,3.214064,projects,0.013265,0.042636,2841,University
2,86,1.978593,education,0.011987,0.023718,4486,GPA
1504,27,3.137103,projects,0.011851,0.037177,2538,the data
1502,30,3.031743,projects,0.010814,0.032786,2316,SVM
1503,28,3.100736,projects,0.010525,0.032634,2254,Java
1003,55,2.425607,experience,0.010149,0.024617,6053,clients
9,48,2.561739,education,0.009916,0.025403,3711,Engineering
1506,25,3.214064,projects,0.009684,0.031125,2074,algorithms
1005,49,2.541120,experience,0.009403,0.023893,5608,analysis
11,46,2.604299,education,0.009115,0.023737,3411,Los Angeles
1007,45,2.626278,experience,0.008843,0.023223,5274,CA
500,33,2.936433,summary,0.008818,0.025892,1948,experience
10,46,2.604299,education,0.008741,0.022763,3271,Data Mining
502,18,3.542568,summary,0.008700,0.030820,1922,SQL
1006,48,2.561739,experience,0.008583,0.021986,5119,a team
4,67,2.228247,education,0.008222,0.018321,3077,Computer Science
1010,38,2.795354,experience,0.008185,0.022881,4882,2015
1508,20,3.437208,projects,0.008087,0.027797,1732,MySQL
1512,16,3.660351,projects,0.008064,0.029517,1727,India
6,57,2.389889,education,0.007923,0.018935,2965,Technology
1008,45,2.626278,experience,0.007815,0.020524,4661,the data
503,18,3.542568,summary,0.007609,0.026956,1681,data
27,25,3.214064,education,0.007479,0.024039,2799,2015
15,39,2.769378,education,0.007439,0.020602,2784,Southern California
43,21,3.388418,education,0.007413,0.025117,2774,analysis
1520,13,3.867991,projects,0.007321,0.028319,1568,accuracy
26,26,3.174844,education,0.007303,0.023186,2733,SQL
30,24,3.254886,education,0.007065,0.022996,2644,Java
1507,20,3.437208,projects,0.006934,0.023833,1485,May 2015
1011,37,2.822022,experience,0.006931,0.019560,4134,Java
1004,50,2.520917,experience,0.006911,0.017422,4122,May 2015
1009,39,2.769378,experience,0.006822,0.018893,4069,students
1518,14,3.793883,projects,0.006798,0.025793,1456,a team
12,41,2.719368,education,0.006744,0.018341,2524,Ph.D.
1012,37,2.822022,experience,0.006698,0.018902,3995,Los Angeles
13,40,2.744061,education,0.006624,0.018177,2479,Mathematics
25,27,3.137103,education,0.006573,0.020622,2460,May 2015
1511,17,3.599727,projects,0.006397,0.023027,1370,users
1517,14,3.793883,projects,0.006280,0.023826,1345,Machine Learning
1013,35,2.877592,experience,0.006261,0.018015,3734,users
1034,26,3.174844,experience,0.006257,0.019865,3732,Analysis
29,24,3.254886,education,0.006250,0.020344,2339,Analysis
55,16,3.660351,education,0.006247,0.022868,2338,2011
1528,11,4.035045,projects,0.006201,0.025021,1328,analysis
1522,13,3.867991,projects,0.006201,0.023985,1328,the performance
1017,32,2.967204,experience,0.006185,0.018352,3689,algorithms
1018,31,2.998953,experience,0.006130,0.018383,3656,Department
17,30,3.031743,education,0.006034,0.018293,2258,CA
1510,17,3.599727,projects,0.005995,0.021582,1284,Matlab
1014,34,2.906580,experience,0.005989,0.017407,3572,SQL
32,23,3.297446,education,0.005929,0.019552,2219,2014
14,40,2.744061,education,0.005927,0.016264,2218,Statistics
508,9,4.235716,summary,0.005875,0.024887,1298,SVM
1521,13,3.867991,projects,0.005869,0.022702,1257,features
501,18,3.542568,summary,0.005848,0.020718,1292,Python
1525,12,3.948033,projects,0.005813,0.022951,1245,the results
1019,31,2.998953,experience,0.005809,0.017422,3465,SVM
1015,33,2.936433,experience,0.005779,0.016971,3447,Tableau
1513,16,3.660351,projects,0.005720,0.020937,1225,Logistic Regression
1025,30,3.031743,experience,0.005716,0.017328,3409,results
1022,31,2.998953,experience,0.005707,0.017116,3404,research
1023,30,3.031743,experience,0.005704,0.017293,3402,customers
1029,28,3.100736,experience,0.005602,0.017369,3341,MATLAB
1027,29,3.065644,experience,0.005597,0.017157,3338,data analysis
1021,31,2.998953,experience,0.005565,0.016688,3319,machine learning
16,34,2.906580,education,0.005558,0.016155,2080,Bachelor
63,15,3.724890,education,0.005555,0.020693,2079,algorithms
19,30,3.031743,education,0.005499,0.016672,2058,M.S.
54,17,3.599727,education,0.005491,0.019767,2055,MATLAB
1509,18,3.542568,projects,0.005463,0.019353,1170,Random Forest
1032,27,3.137103,experience,0.005369,0.016842,3202,Machine Learning
1514,16,3.660351,projects,0.005360,0.019621,1148,Tableau
1026,30,3.031743,experience,0.005358,0.016246,3196,the performance
1519,13,3.867991,projects,0.005346,0.020680,1145,SAS
1016,32,2.967204,experience,0.005268,0.015631,3142,India
1030,28,3.100736,experience,0.005260,0.016309,3137,Research Assistant
64,15,3.724890,education,0.005245,0.019539,1963,reports
1040,24,3.254886,experience,0.005239,0.017054,3125,2013
512,7,4.487030,summary,0.005237,0.023499,1157,MySQL
1024,30,3.031743,experience,0.005221,0.015829,3114,reports
514,7,4.487030,summary,0.005205,0.023357,1150,data analytics
34,22,3.341898,education,0.005184,0.017324,1940,Physics
22,29,3.065644,education,0.005157,0.015810,1930,May 2016
1524,12,3.948033,projects,0.005104,0.020149,1093,Neural Networks
21,29,3.065644,education,0.005072,0.015548,1898,Economics
36,21,3.388418,education,0.005050,0.017113,1890,Big Data
507,10,4.130355,summary,0.005047,0.020846,1115,analysis
1038,25,3.214064,experience,0.005028,0.016161,2999,May 2014
48,20,3.437208,education,0.005026,0.017276,1881,SAS
513,7,4.487030,summary,0.005024,0.022545,1110,actionable insights

In [ ]:
# save to parquet
# save to s3

In [2557]:
filename = 'terms.parquet'

In [ ]:
df.to_parquet(filename)

In [2559]:
s3.Bucket(bucketname).upload_file(filename,'sys/parsed-keywords_v1.parquet')